/* сброс стилей браузера */
* { box-sizing: border-box; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.2;
}
ol { 
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 1.4em;
  list-style: square;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} 
/* конец кода сброса стилей браузера */


/*Импортируем шрифт*/ 
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

/*Общие стили*/
html,
body {
  height: 100%;
  background-color: #ADD8E6;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

#root {
	height: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.btn { 
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,.1);
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	padding: 10px;
}

.allocated {
	font-weight: bolder;
}

/*Стили для чердака*/

header {
	flex: 0 0 auto;
	margin: 10px;
}

header h1 {
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 2rem;
}

header select,
header input[type="number"],
header button {
	font-size: 1.125rem;
	display: block;
	width: 100%;
	padding: 10px;
	font-family: "Hoefler Text", Garamond, Times, serif;
}

header select,
header input[type="number"] {
	margin-bottom: 10px;
	border-radius: 5px;
}

header button {
	margin-bottom: 10px;
}

/*Стили для основного контента*/
main {
	flex: 1 0 auto;
	margin: 10px;
}

.contact_card {
	font-size: 1rem;
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 20px;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	cursor: pointer;
}

.contact_card h2 {
	font-size: 1.5em;
	text-align: center;
	flex: 0 0 auto;
}

.contact_card h2::first-letter {
	text-transform: uppercase;
}

.contact_card img {
	max-width: 100%;
	margin-bottom: 10px;
	flex: 0 0 auto;
}

.contact_card div {
	flex: 0 0 auto;
}

.contact_card p {
	line-height: 150%;
}

.contact_card button {
	display: block;
	width: 100%;
	flex: 0 0 auto;
}


/*Стили для подвала*/
footer {
	flex: 0 0 auto;
	background-color: #4D4D4D;
	color: white;
	text-align: center;
	padding: 20px;
}


@media (min-width: 450px) and (max-width:800px) {
  body {
    font-size: 18px;
  }
  
  /*Основной контент*/
  main {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
  }

  .contact_card {
	width: 45%;
  }
}



@media (min-width:801px) and (max-width:999px) {
  body {
    font-size: 20px;
  }
  
  /*Стили для чердака*/
  header {
	margin: 0;
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #ADD8E6;
  }
  
  header select,
  header input[type="number"],
  header button {
	display: inline-block;
	width: auto;
  }
  
  /*Основной контент*/
  main {
	margin-top: 20%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
  }
  .contact_card {
	width: 30%;
  }
  
}

@media (min-width:1000px) {
  body {
    font-size: 20px;
  }
  
  /*Стили для чердака*/
  header {
	margin: 0;
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #ADD8E6;
	text-align: center;
  }
  
  header select,
  header input[type="number"],
  header button {
	display: inline-block;
	width: auto;
  }
  
  /*Стили для основного контента*/
  main {
	margin-top: 12%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
  }
  .contact_card {
	width: 22%;
  }
  
}

